body {
  font-family: "Inter", sans-serif;
  color: #000;
  background: #fff;
}

.v-btn {
  background: none !important;
  border: 1px solid #000 !important;
  color: #000 !important;
  box-shadow: none !important;
}

.v-card {
  border: 1px dashed #999 !important;
  background-color: transparent !important;
}

.v-text-field input {
  border: 1px solid #000 !important;
  background: none !important;
}

.custom-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 表示する行数を調整 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.custom-ellipsis::after {
  content: "..."; /* ← 省略記号を明示的に指定 */
}
